/* Ryan Cairns 11/28/16 */

body { 
color: black; 
background-color: white; 
padding: 25px;
font-size: 2em;
 }
.container {
  display: grid;
  grid-template-columns: 10% 5px 50% 5px 15% 5px 25% 5px;
  grid-template-rows: auto 5px auto 5px auto 5px auto 5px;
}
.header {

	grid-column-start: 3;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: cyan;
}
.logoNav {
 	grid-column-start: 1;
 	grid-column-end: 2;
 	grid-row-start: 1;
	grid-row-end: 2;
	background-color: powderblue;
}
.menu {
  	grid-column-start: 1;
 	grid-column-end: 6;
  	grid-row-start: 3;
	grid-row-end: 4;
  	background-color: lime;
}
.main {
	grid-column-start: 1;
	grid-column-end: 6;
  	grid-row-start: 5;
  	grid-row-end: 6;
  	background-color: red;
}
.footer {
  	grid-column-start: 1;
  	grid-column-end: 8;
  	grid-row-start: 7;
  	grid-row-end: 8;
  	background-color: orange;
}
.sidebar {
  	grid-column-start: 7;
  	grid-column-end: 8;
  	grid-row-start: 3;
  	grid-row-end: 6;
  	background-color: brown;
}

@media screen and (max-width: 500px) {
	.header{
		grid-column-start:	1;
	}
	.logoNav{
		grid-column-end: 1;
		z-index: -1;
	}
	.main {
		grid-column-start: 1;
  		grid-column-end: 4;
	}
	.sidebar {
		grid-column-start: 5;
  		grid-column-end: 8;
		grid-row-start: 5;
	}
	.menu {
		grid-column-end: 8;	
	}
}