/* CSS Document */

* {
	text-align: center;	
}
a:link {
	color: #000000;
}


h1,h2,h3,h4,h5,h6,h7 {
	color:#969696;
}

body{
	background: #EFEFEF;
}

a{
	text-decoration: none;	
}

body {
    background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #676767;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2f2f2f;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4b4b4b;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  height: 30px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4b4b4b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #676767;
}



input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #676767;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2f2f2f;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4b4b4b;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  height: 30px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4b4b4b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #676767;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #676767;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
  background: #4b4b4b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2f2f2f;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4b4b4b;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 10.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.2px 2.2px 0px #000000, 0px 0px 2.2px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #afafaf;
  cursor: pointer;
  height: 30px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4b4b4b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #676767;
}

/*--------------------------------*/