/* CSS Document */

body{
	background-color:#DBD19F;
    font-family: 'Ubuntu Condensed', sans-serif;	
}

input{
margin: 10px;
}

.ulHeader{
    list-style-type: none;
    overflow: hidden;
    background-color: #F9AC49;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
}

.liHeader{
    float: left;
}

.liAHeader{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liAHeader:hover:not(.active){
    background-color: #A1AFA1;

}

video{
    max-width: 100%;
    max-height: 100%;
}
#fullWidth{
    max-width: 100%;
    max-height: 100%;
}

.testCard{
    width: 100%
}

.card{
margin-left: 10%;
margin-right: 10%;
width: 80%;
background-color: #bab080;
-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
}

.card h2{
    

}

.card p{
    margin: 1em;
}

.headline{
    padding: 5px;
    margin-left: 1em;
}

.headline textarea{
    float: right;
    margin-top: -5%;
    margin-right: 3%
}

.news{
    text-decoration: none;
    color: black;
}



.news p{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1em;
    background-color: white;
    border-left: 8px solid green;
}

.news p:hover{
    background-color: #A1AFA1;
}

.news img{
    float: right;
    height: 2.5%;
    width: 2.5%;
    margin-top: -8px;
    margin-right: 10px;
}

.news p:hover img{
    margin-right: 0px;
}

.projCard div{
    height: 200px;
    width: 400px;
}

.projCard{
    text-decoration: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.projCard .header{
    margin-right: auto;
    margin-left: auto;  
}

#active{
    background-color: #59174C;
}

#gameCard{
    background-image: url('../img/gameLogo.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
}

#movieCard{
    background-image: url('../img/movieLogo.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}