/* CSS Document */


body{
	background-color:#DBD19F;
    font-family: 'Ubuntu Condensed', sans-serif;	
}

.ulHeader{
    list-style-type: none;
    overflow: hidden;
    background-color: #E95600;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
}

.liHeader{
    float: left;
}

.liAHeader{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liAHeader:hover:not(.active){
    background-color: #A1AFA1;

}

.card{
margin-left: 10%;
margin-right: 10%;
width: 80%;
background-color: #bab080;
-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.6);
}

.card h2{
    

}

.card p{

}

.headline{
    padding: 5px;
}

.news{
    text-decoration: none;
    color: black;
}



.news p{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1em;
    background-color: white;
    border-left: 8px solid green;
    }

.news p:hover{
    background-color: #A1AFA1;

}

.news img{
    float: right;
    height: 2.5%;
    width: 2.5%;
    margin-top: -8px;
    margin-right: 10px;
    }
.news p:hover img{
    margin-right: 0px;
}

.projCard div{
    height: 200px;
    width: 400px;
}
.projCard{
    text-decoration: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.projCard .header{
    margin-right: auto;
    margin-left: auto;  
}

#home{
    float:right;
    padding-right: 2%;
}

#active{
    background-color: #D20AD2;
}

#gameCard{
    background-image: url('../img/gameLogo.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
}
#movieCard{
    background-image: url('../img/movieLogo.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
}