@charset "utf-8";
/* CSS Document */
body {
	 color: powderblue; 
	 background-color: brown;
}
	  
.title {
	color: black;
	text-shadow: 50px -20px;
	text-align: center;
}

.content {
	color: brown;
	background-color: powderblue;
	text-align: center;
	cursor: pointer;		
}

.hideLink {
	cursor: text;
	text-decoration: none;
	color:inherit;
	text-align:inherit;
	
}

p {
    outline: #58B426 dotted thick;
}