@charset "utf-8";
/* CSS Document */

p {
	background-color: #D5D5D5;
	color: black;
}

h1,h2,h3,h4,h5,h6,h7 {
	background-color: #9099A2;
	color: white;
	margin: auto;
	margin-left: -10px;
	margin-right: -10px;
}

body {
	background-color: #D5D5D5;
	color: black;	
}

* {
	text-align:center;	
}

@media screen and (max-width: 500px) {
	h1,h2,h3,h4,h5,h6,h7 {
		background-color:#D5D5D5;
		color: black;
	}
	p {
		backgound-color: #9099A2;
		color: white;
	}
	
	body{
		background-color: #9099A2;
		color: white;
	}
	.areaHide{visibility: visible}
}
@media screen and (min-width: 300px) {
	.areaHide{visibility: hidden}
}

.ree {
	color:red;	
}
.green {
	color:green;	
}
.blue {
	color: blue;	
}